@use '../../scss' as *;

.qtyInput {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    min-width: 10rem;

    .qtyInput__btn {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0.5rem 0.75rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            width: 1rem;
        }

    }

    .btn__minus {
        left: 1rem;
    }

    .btn__plus {
        right: 1rem;
    }

    input {
        background-color: $grey3;
        outline: none;
        border: none;
        padding: 1rem;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: inherit;
        font-weight: 600;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }

}