@use '../../scss' as *;

.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include mq(xl) {   
        padding: 0 1rem;
        margin: 0 7.5rem;
        gap: 2rem;
        border-block-end: 1px solid $grey3;
    }

    .menu {

        .menu__icon {
            width: 1.35rem;
            cursor: pointer;

            @include mq(lg) {
                display: none;
            }
        }

        .menu__content {
            background-color: transparent;
            z-index: 20;
            position: fixed;
            inset: 0;
            transform: translate(-100%);
            transition: transform 0.35s, background-color 0.15s linear 0.2s;

            > div {
                width: 70%;
                height: 100%;
                padding: 1rem;
                background-color: #fff;
            }

            img {
                width: 1.35rem;
                margin-block-end: 4rem;
                cursor: pointer;
            }

                
            li {
                text-transform: capitalize;
                font-weight: 700;
                font-size: 1.5rem;
                margin-block-end: 2rem;
            }

        }

        .menu__open {
            transform: translate(0);
            background-color: rgba(0, 0, 0, 0.25);
        }

    }

    .logo {
        flex: 1;

        img {
            width: 10rem;
        }

        @include mq(lg) {
            flex: initial;

            IMG {
                width: 12rem;
            }

        }

    }

    .nav {
        display: none;

        @include mq(lg) {
            padding-inline: 1rem;
            display: initial;
            flex: 1;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    position: relative;
                    display: inline-block;
                    margin-inline-end: 2rem;
                    padding-block: 2rem;
                    text-transform: capitalize;   
                    color: $grey;             
                    transition: all 0.25s;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: $orange;
                        transition: width 0.15s linear;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #000;

                        &::after {
                            left: 0;
                            width: 100%;
                        }
                    }

                }
            }
        }
    }

    .cartIcon {
        position: relative;
        cursor: pointer;
        padding-block-start: 0.5rem;

        img {
            width: 1.5rem;
        }

        .cartQty {
            position: absolute;
            top: 0.1rem;
            right: -0.5rem;
            font-size: 0.5em;
            font-weight: 700;
            background-color: $orange;
            color: #fff;
            padding: 0.1rem 0.5rem;
            border-radius: 0.5rem;
        }

    }

    .avatar {
        width: 2.5rem;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: all 0.25s;

        @include mq(lg) {
            width: 2.75rem;
        }

        &:hover {
            cursor: pointer;
            border-color: $orange;
        }

    }

}