.imageGalleryBig {

    .focusImg {
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        margin-block-end: 1rem;
        cursor: pointer;
    }

    .thumbnail {
        display: flex;
        justify-content: space-between;

        img {
            border-radius: 0.5rem;
            border: 2.5px solid transparent;
            width: 4.5rem;
            cursor: pointer;
        }

        .focus--img {
            border: 2.5px solid orange;
            opacity: 0.85;
        }

    }

}