@use '../../scss' as *;

.productPage {
    display: flex;
    flex-flow: column;

    @include mq(lg) {
        padding: 2.5rem 7.5rem;
        flex-flow: row;
        align-items: center;
    }

    .productPage__col1 {
        width: 100%;

        .imageGalleryBig {
            display: none;
        }

        @include mq(lg) {
            padding: 0 5rem;
            width: 50%;
            
            .imageGallery {
                display: none;
            }
            
            .imageGalleryBig {
                display: initial;
            }
        }

    }

    .productPage__col2 {
        padding: 2rem 1rem;
        display: flex;
        flex-flow: column;
        gap: 2rem;

        @include mq(lg) {
            padding: 0 3.5rem;
            width: 50%;
        }
    }

    .productPage__desc {
        display: flex;
        flex-flow: column;
        gap: 1rem;

        h2 {
            text-transform: uppercase;
            letter-spacing: 0.075em;
            color: $orange;
            font-weight: 700;
        }

        h1 {
            text-transform: capitalize;
        }

        p {
            line-height: 1.6em;
            color: $grey;
        }
    
    }

    .productPage__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        font-weight: 700;

        @include mq(lg) {
            flex-flow: column;
            justify-content: initial;
            align-items: initial;
        }

        > div {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        
        .discount {
            padding: 0.5em;
            border-radius: 0.5rem;
            color: $orange;
            background-color: rgba($orange, 0.25);
        }

        .mrp {
            text-decoration: line-through;
            color: $grey2;
        }

    }   

    .productPage__btns {
        display: flex;
        flex-flow: column;
        gap: 2rem;

        @include mq(lg) {
            flex-flow: row;
            justify-content: space-between;
        }
    }

}