.imageGallery {
    position: relative;
    overflow: hidden;

    .imageGallery__btn {
        border: none;
        outline: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background-color: #fff;
        width: 2.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 0.75rem;
        }

    }

    .left--btn {
        left: 1rem;
        padding-inline-end: 1.1rem;
    }

    .right--btn {
        right: 1rem;
    }

    .disabled--btn {
        opacity: 0.8;
        cursor: initial;
    }

    .imageGallery__container {
        display: flex;
        transition: all 0.5s;

        img {
            min-width: 100%;
        }

    }

}