@use '../utils' as *;

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.f1 {
    font-size: 2.25rem;

    @include mq(xl) {
        font-size: 2.5rem;
    }
}

.f5 {
    font-size: 1.15rem;

    @include mq(xl) {
        font-size: 1.25rem;
    }
}

.txt {
    font-size: 0.9rem;

    @include mq(xl) {
        font-size: 1rem;
    }

}